
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App_info{
  width: 100%;
  
  
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
}
.App_data{
  /* width: 50%; */
  border-radius: 10px;
  background-color: white;

}
.App_info_type{
  width: 100%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 5px 10px;
  
}
.App_header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App_info_type_calc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App_info_type_calc > button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--green);
  cursor: pointer;
}
.App_header > h1{
  margin: 20px;
  color: white;
}

@media only screen and (min-width: 800px ) {
  .App_info{
    display: flex;
  }
  .App_info_type{
    width: 500px;
  }
  .App_info_type{
    position: fixed;
  }
  .App_data{
    position: relative;
    right: calc(100vw - 1000px);
  }
}
